.login-container{
    position: fixed;
    background-color: #fff;
    width: 500px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 10px;
}

.login-title{
    font-size: 30px;
    font-weight: 550;
    text-align: center;
    height: 80px;
    line-height: 80px;
}

.login-form-button{
    width: 100%;
}